@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#7773c6), color-stop(#9d6cc0), to(#bd64b2));
  background: linear-gradient(to right, #7773c6, #9d6cc0, #bd64b2);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

h2 {
  color: white;
  font-size: 45px;
  font-family: "Lobster", cursive;
  margin-top: 25px;
}

#user_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

#input {
  width: 250px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px 0 0 10px;
}

#btn {
  width: 95px;
  height: 40px;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
  background: #c0c0c0;
}

.item {
  background: white;
  width: 750px;
  height: 50px;
  margin: 25px auto 15px auto;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 20px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fa-trash {
  color: gray;
}

.fa-trash:hover {
  cursor: pointer;
  color: black;
}

.fa-circle-check {
  cursor: pointer;
  color: gray;
}

#input:focus {
  -webkit-box-shadow: 0 0 10px #e22865;
          box-shadow: 0 0 10px #e22865;
  border: 1px solid #e22865;
}

.item:hover {
  -webkit-box-shadow: 0 0 50px #e22865;
          box-shadow: 0 0 50px #e22865;
  border: 1px solid #e22865;
}