@import "zerostyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
  background: linear-gradient(to right, #7773c6, #9d6cc0, #bd64b2);
}
.container {
}
.header {
  display: flex;
  justify-content: space-around;
}
h2 {
  color: white;
  font-size: 45px;
  font-family: "Lobster", cursive;
  margin-top: 25px;
}
#user_input {
  display: flex;
  margin-top: 25px;
}
#input {
  width: 250px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px 0 0 10px;
}
#btn {
  width: 95px;
  height: 40px;
  font-size: 20px;
  border-radius: 0 10px 10px 0;
  background: 	#c0c0c0;
}
.item{
    background: white;
    width: 750px;
    height: 50px;
    margin:25px auto 15px auto ;
font-size: 20px;
padding-left: 10px;
padding-top: 15px;
display: flex;
justify-content: space-between;
padding-right: 20px;
}
.icons{
  display: flex;
 width: 50px;
 justify-content: space-between;
}
.fa-trash{
  color: gray;
}
.fa-trash:hover{
  cursor: pointer;
  color: black;
};
.fa-circle-check{
  cursor: pointer;
  color: gray;
};

#input:focus{
  box-shadow: 0 0 10px #E22865;
  border: 1px solid #E22865;
};
.item:hover{
  box-shadow: 0 0 50px #E22865;
  border: 1px solid #E22865;
};